
.login_container {
    width: 300px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.label_with_input {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.login_signIn_btn , .create_Account_btn {
    margin: 10px auto;
    background: #f0c14b;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: 1px solid;
    padding: 5px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    font-weight: 700;
    font-size: 0.75rem;
    transition: all ease-in-out 150ms ;
}

.label_with_input input {
    margin-top: 5px;
    height: 25px;
    border-radius: 5px;
    border: 1.5px solid #111;
}

.label_with_input label {
    font-weight: 600;
}

.login_signIn_btn:hover {
    background:#e4a915 ;
}

.create_Account_btn {
    width: 100%;
}